*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto slab";
    background-color: #F5F5F5;
}

h1,a,p,h2,h3,li{
    font-style: none;
    list-style: none;
}
.container{
    padding: 0px 84px;
}
header{
    width: 100%;
    height: 71px;
    border-bottom: 2.5px solid #859ed18f;
    background-color: rgba(245, 245, 245, 0.7);
    position: fixed;
    top: 0;
    z-index: 10;
}
.logo img{
    float: left;
    height: 90px;
    width: 165.75px;
    margin-top: -15px;
}
.nav a{
    text-decoration: none;
    color: #254A99;
}
.nav li{
    float: left;
    padding-left: 55px;
    line-height: 71px;
    font-size: 20px;
    font-weight: 500;
    
}
.nav a:hover{
    color: #FFD40D;
    transition: all 0.3s;
}
.nav{
    float: right;
}
.home{
    height: 550px;
}
.home h2{
    margin-top: 210px;
    color: #254A99;
    font-size: 33px;
    font-weight: 500;
}
.home h1{
    color: #254A99;
    font-size: 46px;
    margin-bottom: 10px;
    margin-top: 11px;
}
.home p{
    font-size: 21px;
    color: rgba(75, 75, 75, 0.856);
    margin-bottom: 3px;
    text-align: left;
}
.home img{
    float: right;
    position: relative;
    top: -340px;
    height: 493px;
}
.about{
    height: 823px;
    background-color: #26499A;
}
.profil {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    border: 17px solid #FFD40D;
    margin: 98px 49px 98px 0;
}
.content{
    display: flex;
    flex-direction: row;
}
.info h2{
    font-size: 46px;
    margin-top: 175px;
    margin-bottom: 42px;
}
.info p{
    padding-top: 3px;
    font-size: 21px;
}
.info h2,p {
    width: 600px;
    text-align: center;
    color: white;
}
.main{
    width: 100%;
}
.services{
    background-color: white;
    width: 1033px;
    height: 470px;
    margin: -100px auto;
    border-radius: 33px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
}
.services h1{
    text-align: center;
    padding: 34px 0 39px 0;
    font-size: 46px;
    color: #254A99;
}
.skills{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 100px 0 100px;
}
.skill{
    margin: 0 auto;
}
.skill h2{
    color: #254A99;
    margin: 36px 0 12px 0;
}
.skill p{
    color: #6D6D6D; 
    width: 200px;
    font-size: 21px;
}
.spas1 {
    text-align: center;
    color: #254A99;
    margin-top: 150px;
    font-size: 46px;
}
.spas2 {
    padding-top: 20px;
    color: #254A99;
    margin: 0 auto;
    font-size: 21px;
}
.hasil-kerja{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 1033px;
    height: 524px;
    margin: 50px auto;
    border-radius: 33px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
}
.detail{
    width: 605px;
    margin: 89px 20px 102px 115px;
}
.pic-kerja{
    width: 178px;
    margin: 65px 88px 65px 20px;
}
.img{
    width: 100%;
    height: 100%;
}
.detail h1{
    color: #FA881C;
}
.detail p{
    color: #6D6D6D;
    text-align: left;
    width: 550px;
    margin-top: 18px;
    line-height: 30px;
}
.btn-kerja{
    background-color: #254A99;
    color: #fff;
    width: fit-content;
    padding: 14px 30px;
    font-size: 25px;
    border-radius: 52px;
    margin-top: 30px;
    opacity: 0.75;
    font-size: medium;
    text-decoration: none;
}
.btn-kerja:hover{
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s;
}
.spas3{
    text-align: center;
    color: #254A99;
    font-size: 46px;
    margin-bottom: 12px;
}
.tesmonials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.testimoni{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 527px;
    height: 458px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 33px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
}
.tekstimoni{
    padding: auto;
    margin: 39px 0 10px 121px;
    color: #6D6D6D;
    text-align: left;
    width: 374px;
    height: 234px;
}
.pic-testi{
    text-align: center;
}
.pic-testi h2{
    color: #254A99;
    font-size: 21px;
    margin: 5px 0;
}
.pic-testi p{
    color: #6D6D6D;
    text-align: center;
    width: 527px;
    font-size: 21px;
}
.pic-testi img{
    width: 65px;
    height: 65px;
}
.sosmed{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sosmed img{
    padding-left: 40px;
    padding-right: 40px;
}
footer{
    padding-top: 95px;
    margin-top: 70px;
    width: 100%;
    height: 230px;
    background-color: #D8DEEE;
}
footer p{
    font-size: 21px;
    color: #254A99;
    margin: 28px auto;
}
@media screen and (max-width: 500px){
    .container{
        padding: 0 50px;
    }
    .nav{
        display: none;
    }
    .home{
        display: flex;
        flex-direction: column;
    }
    .home h2{
        margin-top: 100px;
        margin-bottom: 7px;
        color: #254A99;
        font-size: 20px;
        font-weight: 500;
    }
    .home h1{
        color: #254A99;
        font-size: 30px;
        margin-bottom: 7px;
        margin-top: 7px;
    }
    .home p{
        font-size: 20px;
        color: rgba(75, 75, 75, 0.856);
        margin-top: 7px;
        margin-bottom: 3px;
        width: 300px;
    }
    .home img{
        float: left;
        top: 5px;
        height: 250px;
    }
    .profil {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        border: 17px solid #FFD40D;
        margin: 25px 0 15px 0;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .info h2{
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 7px;
    }
    .info p{
        padding-top: 10px;
        font-size: 20px;
    }
    .info h2,p {
        width: 300px;
        text-align: left;
        color: white;
    }
    .services{
        background-color: white;
        width: 300px;
        height: 1100px;
        margin-top: -100px auto;
        margin-left: -20px;
        border-radius: 33px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
    }
    .services h1{
        text-align: center;
        padding: 34px 0 39px 0;
        font-size: 30px;
        color: #254A99;
    }
    .skills{
        display: flex;
        flex-direction: column;
        padding: 0%;
    }
    .skill{
        margin: 25px;
    }
    .skill h2{
        color: #254A99;
        margin: 5px 0 5px 0;
    }
    .skill p{
        color: #6D6D6D; 
        width: 200px;
        font-size: 20px;
        text-align: center;
        margin-left: 25px;
    }
    .spas1 {
        text-align: center;
        color: #254A99;
        margin-top: 150px;
        font-size: 46px;
    }
    .spas2 {
        padding-top: 20px;
        color: #254A99;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
    }
    .hasil-kerja{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 300px;
        height: 480px;
        margin: 50px auto;
        margin-left: 20px;
        border-radius: 33px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
    }
    .detail{
        width: 270px;
        margin-top: 90px;
        margin-left: 15px;
    }
    .pic-kerja{
       display: none;
    }
    .detail h1{
        color: #FA881C;
    }
    .detail p{
        color: #6D6D6D;
        text-align: left;
        width: 270px;
        margin-top: 18px;
        margin-left: 10px;
        line-height: 30px;
    }
    .btn-kerja{
        background-color: #254A99;
        color: #fff;
        width: fit-content;
        padding: 14px 30px;
        font-size: 25px;
        border-radius: 52px;
        margin-top: 30px;
        opacity: 0.75;
        font-size: medium;
        text-decoration: none;
    }
    .btn-kerja:hover{
        opacity: 1;
        cursor: pointer;
        transition: all 0.3s;
    }
    .tesmonials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .testimoni{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        width: 300px;
        height: 458px;
        margin-top: 25px;
        margin-left: 30px;
        margin-bottom: 50px;
        border-radius: 33px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
    }
    .tekstimoni{
        padding: auto;
        margin: 39px 0 10px 0px;
        color: #6D6D6D;
        text-align: center;
        width: 300px;
        height: 234px;
    }
    .pic-testi{
        text-align: center;
    }
    .pic-testi h2{
        color: #254A99;
        font-size: 21px;
        text-align: center;
    }
    .pic-testi p{
        color: #6D6D6D;
        text-align: center;
        width: 300px;
        font-size: 20px;
    }
    .pic-testi img{
        width: 65px;
        height: 65px;
    }
    footer p{
        font-size: 21px;
        color: #254A99;
        margin: 28px auto;
        text-align: center;
    }
}