p : : first-letter {
	color: #ff0000;
	font-size: 20px;
}

/* - selector tag 'p' menggunakan fungsi html untuk diberikan efek css
   - selector pseudo elemen, digunakan untuk memberikan efek menarik. 'first-letter'
   - 'color' merupakan property dengan '#ff000' sebagai valuenya.
   - 'font-size' merupakan property dengan '28px' sebagai valuenya. #/




/*b*/

div >p{
	background-color: yellow;
}

/* - selector tag 'div >p' merupakan fungsi html untuk diberikan efek css
   - 'background-color' merupakan property dengan 'yellow sebgai valuenya. */