.navbar{
  height: 20%;
}
body{
    background-color: #EEEEEE;
  }
  #navbarNav{
    font-family: Copperplate;
    margin: 2%;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  .nav-link{

    color: #FCFFE7;
  }
 
.content-banner p{
  padding-top: 1%;
    font-size: 150%;
   font-family: Papyrus;
   font-weight: bolder;
 
}

.content-banner{
/*  background-color: rgba(255, 89, 123 ,0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);*/
  background-color: #F9B5D0;
  font-weight: bold;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;

}

.left-banner{
  text-align: center;
  align-self: center;
}

.left-banner{
  width: 50%;
}
.right-banner{
  width: 50%;
 
  align-self: center;
  
}

.right-banner img{
  padding-top: 10%;
  margin-left: 35%;
  width: 35%;

  
}

.left-banner button{
  background-color: #FEFCFC;
  padding: 2%;
  border: 0px;
  outline: none;
  border-radius: 10px;
  margin-bottom: 10%;



}

button:hover{
  background-color: #FF597B;
  cursor: pointer;
  color: white;
}

.about{
  background-color: #FEFCFC;
  padding-top: 4%;
  display: flex;
  padding-bottom: 4%;
  justify-content: space-around;
}
.about-text h3{
/*  text-align: center;*/
}
.about-gambar img{
  width: 50%;
}
.about-text{
  width: 40%;
}


@media screen and (max-width:767px){
  .content-banner{
    display: flex;
    flex-direction: column-reverse;
  }
  .about{
    display: flex;
    flex-direction: column;
  }
 
  .about-text{
    align-self: center;
  }

  .about-gambar{
    visibility: hidden;
    align-self: center;
  }
}



.content2{
  display: flex;
  justify-content: space-around;
  padding: 2%;
}


.skill{
  display: flex;
}

.skill-item{
  text-align: center;
  width: 25%;
  padding: 1%;
  border: 1px solid black;
  margin: 5%;
  border-radius: 10px;
}

.present{
  margin-top: 5%;
}

.service h2{
  text-align: center;
}

.service{
  display: flex;
  flex-direction: column;
 
}
.ser{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  text-align: center;
}

.judul{
  margin-top: 2%;
}


.service-item{
  display: flex;

  background-image: url("bg.webp");
  width: 20%;
  height: 150px;
  text-align: center;
  border-radius: 10px;
}

.service-item p{
  align-self: center;
  font-weight: bold;
  color: white;
  margin-left: 10%;
}




